body
{
    color: #333;
    text-align: center;
    font-family: "Courier";
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #fc8bb6;
}

#cabecera
{
    background: #e29eff;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 75);
    color: #456;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #789;
    margin: 0 auto;
}

#container h1
{
    font-size: 32px;
}

#post
{
    padding: 1em;
}